{% extends "base.html.twig" %}



{% block main %}
    <h2 class="welcome">{{ 'title.hello'|trans }} {{ name }}!</h2>
    <h3 class="modal-title">&#8592; {{ 'title.choose_list'|trans }}</h3>
{% endblock %}
